* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    min-height: 500vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
   /*  border-color: rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0px); */
}

.header>* {
    width: 33%;
}

.header img {
    width: 200px;
}

.back_home {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.hero #video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transform: scale(1.5);
}

.hero .text {
    z-index: 2;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

.hero h1 {
    font-size: 3.75rem;
}

.movie {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 40px;
	position: fixed;
	background: white;
	top: 90%;
	left: 0;
}


.movie #movie {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
}
